@{
    Layout = "_Admin";
    ViewData["Title"] = "Home Page";
}

<div class="">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">Header</div>
                <div class="card-body">body</div>
                <div class="card-footer">footer</div>
            </div>

        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">Header</div>
                <div class="card-body">body</div>
                <div class="card-footer">footer</div>
            </div>

        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">Header</div>
                <div class="card-body">body</div>
                <div class="card-footer">footer</div>
            </div>

        </div>
    </div>
    
</div>
