@model Tp2.Models.Module

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Module</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nomM" class="control-label"></label>
                <input asp-for="nomM" class="form-control" />
                <span asp-validation-for="nomM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MassH" class="control-label"></label>
                <input asp-for="MassH" class="form-control" />
                <span asp-validation-for="MassH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="codeF" class="control-label"></label>
                <select asp-for="codeF" class="form-control">
                    @foreach (var item in ViewBag.filieres as List<Filiere>)
                    {
                        <option value="@item.codeF">@item.nomF</option>
                    }
                </select>
                <span asp-validation-for="codeF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
